@import "helpers/colors";
@import "helpers/fonts";
@import "helpers/spacing";

@import "sections/header";
@import "sections/about";
@import "sections/cv";
@import "sections/skills";
@import "sections/exp";
@import "sections/showcase";
@import "sections/contact";
@import "sections/footer";

@import "pages/showcase";

@import "components/navbar";
@import "components/slideshow";
@import "components/buttons";
@import "components/loader";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  -webkit-backface-visibility: hidden;
  max-width: 1920px
}

html {
    scroll-behavior: smooth;
}

.link {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.hidden {
  display: none;
}

.section-head {
  margin-top: 50px;
  text-align: center;
}

.divider {
  width: 30px;
  height: 4px;
  margin: 20px auto;
  margin-bottom: 80px;
  background: $default;
}

.hide {
  display: none;
}
.mt50 {
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .section-head {
    margin-top: 0;
  }
  .divider {
    margin: 10px auto;
  }
}

//background: linear-gradient(135deg,#63c986 20%,#6eb5f3 80%);
