
@import "helpers/colors";
@import "helpers/fonts";
@import "helpers/spacing";
@import "helpers/atoms";

@import "sections/header";
@import "sections/about";
@import "sections/cv";
@import "sections/skills";
@import "sections/exp";
@import "sections/showcase";
@import "sections/contact";
@import "sections/footer";


@import "components/navbar";
@import "components/slideshow";
@import "components/buttons";
@import "components/loader";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  -webkit-backface-visibility: hidden;
  max-width: 1920px
}

html {
   scroll-behavior: smooth;
}

//background: linear-gradient(135deg,#63c986 20%,#6eb5f3 80%);
@import "pages/showcase";
