@import "../helpers/colors";

.primary-btn {
  color: $white;
  padding: 10px 52px 12px 52px;
  background-color: $default;
  overflow: hidden;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-align: left;
  backface-visibility: hidden;
  transition: all 0.3s ease 0s;
  outline: none;
  text-decoration: none;
  border: 1px solid transparent;

  &:hover {
    background: none;
    color: $default;
    border: 1px solid $default;
  }
}
