.about {
  border-top: 5px solid $default;
  background: $gray-light2;
  border-bottom: 1px solid $gray-dark2;

  &__image {
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }

  &__description {
    margin-top: 40px;
    width: 600px;
  }
}
