.about {
  background: url('../img/about-bckg.jpg');
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  display: block;

  .box-content {
    border-top: 5px solid turquoise;
    height: 100%;
    width: 600px;
    background: #fff;
    opacity: 0.9;
    position: absolute;
    right: 200px;

    &__heading {
      margin: 20px 0 10px 10px;
    }

    &__inner-box {
      display: flex;
      .left {
        background: #c5c5c5;
        height: 40px;
        padding: 10px;
        white-space: nowrap;
      }
      .right {
        background: turquoise;
        height: 40px;
        width: 100%;
      }
    }

    .text {
      padding: 10px;
    }
  }

}