@import "../helpers/colors";

.resume {

  .timeline {
    position: relative;
    margin: 0 auto;
    padding: 40px 0;
    width: 800px;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      width: 2px;
      height: 100%;
      background: $gray-dark2;
    }

    &.education {
      padding: 0;
    }

    .title-box-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .title-box {
        background: $gray-dark2;
        display: inline-block;
        padding: 5px 20px;
        margin-bottom: 60px;
        z-index: 2;
      }

      .title-icon {
        z-index: 2;
        width: 36px;
        height: 36px;
        margin-bottom: 60px;

        &.plant {
          margin-bottom: 0;
          margin-top: 50px;
        }
      }
    }

    .content {
      padding-bottom: 20px;

      h3 {
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-size: 15px;
      }

      .time {
        color: $gray-dark2;
        font-size: 14px;
        margin-top: 10px;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        box-sizing: border-box;
        position: relative;
        width: 50%;
        padding: 15px 40px;
        padding-top: 0;

        &:nth-child(odd) {
          float: left;
          text-align: right;
          clear: both;

          &:before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            background: $default;
            right: -7px;
            top: 4px;
            border-radius: 50%;
          }
        }

        &:nth-child(even) {
          text-align: left;
          float: right;
          clear: both;

          &:before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            background: $default;
            left: -5px;
            top: 4px;
            border-radius: 50%;
          }
        }
      }
    }
  }


  @media (max-width: 1024px) {
    .timeline {
      width: 100%;
    }
  }

  @media (max-width: 440px) {
    .timeline {
      width: 100%;
      padding-bottom: 0;

      &:before {
        left: 20px;
      }

      .title-box-wrapper {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;

        .title-box {
          margin-left: -12px;
        }

        .title-icon {
          margin-left: 4px;
        }
      }

      ul {
        li {
          &:nth-child(even), &:nth-child(odd) {
            width: 100%;
            text-align: left;
            padding-left: 50px;
            padding-bottom: 30px;

            &:before {
              left: 15px;
            }
          }
        }
      }

    }
  }
}
