@import "../helpers/colors";

.banner {
  background-image: url("../img/heading2-small.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  .banner-text {
    transform: translateY(35vh);

    &__label {
      font-size: 50px;
    }

    &__description {
      font-size: 22px;
      color: #aaaaaa;
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    background-attachment: scroll;

    .banner-text {
      transform: translateY(40vh);
      padding: 0 20px;
    }
  }
}
