@import "../helpers/colors";

.showcase {
  background: #eeee;
  border-top: 1px solid $gray-dark2;
  border-bottom: 1px solid $gray-dark2;

  .work-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-backface-visibility: hidden;

    .single-work {
      background: $black;
      height: 300px;
      width: 350px;
      display: block;
      border-radius: 20px;
      overflow: hidden;
      transition: transform .4s;
      position: relative;
      margin: 10px 10px 50px;
      -webkit-backface-visibility: hidden;

      &:hover {
        transform: translateY(-20px);
        box-shadow: 0 50px 50px rgba(0,0,0,.5);

        .description {
          bottom: 0;
          opacity: 1;
        }

        .image {
            opacity: 0.4;
            transform: translate3d(0,-40px,0);
        }
      }

      .image {
        transition: 1s;
      }

      .description {
        position: absolute;
        bottom: -50px;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
        transition: .3s;
        color: $white;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

    }
  }

}
